$negro: #222222;
$negrosombra: #000000;

$blanco: #fff;
$blancosombra: #EAEAEA;

$transparente:rgba(0,0,0,0);

$rojo: #ED2246;
$rojosombra: #C40E3C;

$amarillo: #FFCE00;
$amarillosombra: #DDB307;

$azul: #00AFDF;
$azulsombra: #0089B6;

$naranja: #F47E24;
$naranjasombra: #D56F1F;
