@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300italic,400,600");
/* line 211, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.two-up .item {
  width: 50%;
}
/* line 212, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.two-up.vertical .item {
  width: auto;
}
/* line 215, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.three-up .item {
  width: 33.3333%;
}
/* line 216, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.three-up.vertical .item {
  width: auto;
}
/* line 219, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.four-up .item {
  width: 25%;
}
/* line 220, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.four-up.vertical .item {
  width: auto;
}
/* line 223, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.five-up .item {
  width: 20%;
}
/* line 224, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.five-up.vertical .item {
  width: auto;
}
/* line 227, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.six-up .item {
  width: 16.66667%;
}
/* line 228, ../bower_components/foundation/scss/foundation/components/_icon-bar.scss */
.icon-bar.six-up.vertical .item {
  width: auto;
}

/* small displays */
@media only screen {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only, .show-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
  }

  /* line 247, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
  }

  /* line 251, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .visible-for-small-only, .visible-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }

  /* line 254, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hidden-for-small-only, .hidden-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* line 259, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.show-for-small-only, table.show-for-small-up, table.show-for-small, table.show-for-small-down, table.hide-for-medium-only, table.hide-for-medium-up, table.hide-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table;
  }

  /* line 262, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.show-for-small-only, thead.show-for-small-up, thead.show-for-small, thead.show-for-small-down, thead.hide-for-medium-only, thead.hide-for-medium-up, thead.hide-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  /* line 265, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.show-for-small-only, tbody.show-for-small-up, tbody.show-for-small, tbody.show-for-small-down, tbody.hide-for-medium-only, tbody.hide-for-medium-up, tbody.hide-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  /* line 268, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.show-for-small-only, tr.show-for-small-up, tr.show-for-small, tr.show-for-small-down, tr.hide-for-medium-only, tr.hide-for-medium-up, tr.hide-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  /* line 271, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  th.show-for-small-only, td.show-for-small-only, th.show-for-small-up, td.show-for-small-up, th.show-for-small, td.show-for-small, th.show-for-small-down, td.show-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.hide-for-medium-up, td.hide-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}
/* medium displays */
@media only screen and (min-width: 40.063em) {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
  }

  /* line 247, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
  }

  /* line 251, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }

  /* line 254, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* line 259, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.show-for-medium-only, table.show-for-medium-up, table.show-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table;
  }

  /* line 262, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.show-for-medium-only, thead.show-for-medium-up, thead.show-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  /* line 265, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.show-for-medium-only, tbody.show-for-medium-up, tbody.show-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  /* line 268, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.show-for-medium-only, tr.show-for-medium-up, tr.show-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  /* line 271, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.show-for-medium-only, td.show-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.show-for-medium, td.show-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}
/* large displays */
@media only screen and (min-width: 64.063em) {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
  }

  /* line 247, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
  }

  /* line 251, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }

  /* line 254, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* line 259, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.show-for-large-only, table.show-for-large-up, table.show-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table;
  }

  /* line 262, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.show-for-large-only, thead.show-for-large-up, thead.show-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  /* line 265, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.show-for-large-only, tbody.show-for-large-up, tbody.show-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  /* line 268, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.show-for-large-only, tr.show-for-large-up, tr.show-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  /* line 271, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.show-for-large-only, td.show-for-large-only, th.show-for-large-up, td.show-for-large-up, th.show-for-large, td.show-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}
/* xlarge displays */
@media only screen and (min-width: 90.063em) {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
  }

  /* line 247, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
  }

  /* line 251, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .hidden-for-large-only, .visible-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }

  /* line 254, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .visible-for-large-only, .hidden-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* line 259, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.show-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table;
  }

  /* line 262, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.show-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  /* line 265, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.show-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  /* line 268, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.show-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  /* line 271, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.show-for-xlarge-only, td.show-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.show-for-xlarge, td.show-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}
/* xxlarge displays */
@media only screen and (min-width: 120.063em) {
  /* line 244, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .hide-for-xlarge-only, .show-for-xlarge-up, .hide-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
  }

  /* line 247, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .show-for-xlarge-only, .hide-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
  }

  /* line 251, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .hidden-for-large-only, .visible-for-large-up, .hidden-for-large, .hidden-for-large-down, .hidden-for-xlarge-only, .visible-for-xlarge-up, .hidden-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }

  /* line 254, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .visible-for-large-only, .hidden-for-large-up, .visible-for-large, .visible-for-large-down, .visible-for-xlarge-only, .hidden-for-xlarge-up, .visible-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* line 259, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.hide-for-xlarge, table.hide-for-xlarge-down, table.show-for-xxlarge-only, table.show-for-xxlarge-up, table.show-for-xxlarge, table.show-for-xxlarge-down {
    display: table;
  }

  /* line 262, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.hide-for-xlarge, thead.hide-for-xlarge-down, thead.show-for-xxlarge-only, thead.show-for-xxlarge-up, thead.show-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important;
  }

  /* line 265, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.hide-for-xlarge, tbody.hide-for-xlarge-down, tbody.show-for-xxlarge-only, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important;
  }

  /* line 268, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.hide-for-xlarge, tr.hide-for-xlarge-down, tr.show-for-xxlarge-only, tr.show-for-xxlarge-up, tr.show-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important;
  }

  /* line 271, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.hide-for-xlarge-down, td.hide-for-xlarge-down, th.show-for-xxlarge-only, td.show-for-xxlarge-only, th.show-for-xxlarge-up, td.show-for-xxlarge-up, th.show-for-xxlarge, td.show-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 285, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 287, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visibility for tables */
/* line 292, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 296, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 300, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 304, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 309, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 314, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 316, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 321, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 325, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 329, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 333, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 338, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 344, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 346, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 351, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 355, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 359, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 363, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 368, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
/* line 374, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.show-for-touch {
  display: none !important;
}

/* line 375, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.hide-for-touch {
  display: inherit !important;
}

/* line 376, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch .show-for-touch {
  display: inherit !important;
}

/* line 377, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific visibility for tables */
/* line 380, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
table.hide-for-touch {
  display: table;
}

/* line 381, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch table.show-for-touch {
  display: table;
}

/* line 382, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
thead.hide-for-touch {
  display: table-header-group !important;
}

/* line 383, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch thead.show-for-touch {
  display: table-header-group !important;
}

/* line 384, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tbody.hide-for-touch {
  display: table-row-group !important;
}

/* line 385, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch tbody.show-for-touch {
  display: table-row-group !important;
}

/* line 386, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tr.hide-for-touch {
  display: table-row !important;
}

/* line 387, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch tr.show-for-touch {
  display: table-row !important;
}

/* line 388, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
td.hide-for-touch {
  display: table-cell !important;
}

/* line 389, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch td.show-for-touch {
  display: table-cell !important;
}

/* line 390, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
th.hide-for-touch {
  display: table-cell !important;
}

/* line 391, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch th.show-for-touch {
  display: table-cell !important;
}

/* Print visibility */
@media print {
  /* line 396, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-print {
    display: block;
  }

  /* line 397, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-print {
    display: none;
  }

  /* line 399, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.show-for-print {
    display: table;
  }

  /* line 400, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.show-for-print {
    display: table-header-group !important;
  }

  /* line 401, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.show-for-print {
    display: table-row-group !important;
  }

  /* line 402, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.show-for-print {
    display: table-row !important;
  }

  /* line 403, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.show-for-print {
    display: table-cell !important;
  }

  /* line 404, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  th.show-for-print {
    display: table-cell !important;
  }
}
/* line 45, ../scss/app.scss */
.logo {
  margin: 100px 0 100px 0;
  width: 100%;
}

/* line 50, ../scss/app.scss */
.logofooter {
  width: 100%;
  margin-bottom: 30px;
}

/* line 55, ../scss/app.scss */
.logo404 {
  width: 100%;
  top: 14%;
}

/* line 60, ../scss/app.scss */
.tex404 {
  text-align: center;
}

/* line 64, ../scss/app.scss */
.arriba404 {
  font-size: 30rem;
  line-height: 1;
  text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.1);
}

/* line 70, ../scss/app.scss */
.medio404 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

/* line 75, ../scss/app.scss */
.abajo404 {
  font-size: 1.1rem;
  margin-top: 2rem;
}

/* line 80, ../scss/app.scss */
.volver {
  width: 160px;
  margin: 0 auto;
}

/* line 85, ../scss/app.scss */
h1 {
  text-indent: -99999px;
  font-size: 0.75rem;
}

/* line 90, ../scss/app.scss */
h2 {
  font-weight: 200;
}

/* line 94, ../scss/app.scss */
h3 {
  font-weight: 200;
}

/* line 98, ../scss/app.scss */
h5 {
  font-weight: 400;
}

/* line 103, ../scss/app.scss */
p {
  text-align: justify;
  color: #fff;
}

/* line 108, ../scss/app.scss */
a {
  color: #FFFFFF;
  font-weight: 400;
}
/* line 112, ../scss/app.scss */
a:hover {
  color: #FFFFFF;
}

/* line 117, ../scss/app.scss */
.no-bullets {
  list-style: none;
}

/* line 121, ../scss/app.scss */
hr {
  border: solid 1px #fff;
}

/* line 124, ../scss/app.scss */
.divrojo {
  background-color: #ED2246;
  overflow: hidden;
  padding: 100px 0 40px 0;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 5px 0 0 #C40E3C;
  -webkit-box-shadow: 0px 5px 0 0 #C40E3C;
  box-shadow: 0px 5px 0 0 #C40E3C;
}

/* line 132, ../scss/app.scss */
.divazul {
  background-color: #00AFDF;
  padding: 100px 0 30px 0;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 5px 0 0 #0089B6;
  -webkit-box-shadow: 0px 5px 0 0 #0089B6;
  box-shadow: 0px 5px 0 0 #0089B6;
}

/* line 139, ../scss/app.scss */
.divamarillo {
  background-color: #FFCE00;
  background: url(".././images/amarillobg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0 30px 0;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 5px 0 0 #DDB307;
  -webkit-box-shadow: 0px 5px 0 0 #DDB307;
  box-shadow: 0px 5px 0 0 #DDB307;
}

/* line 148, ../scss/app.scss */
.divnaranja {
  background-color: #F47E24;
  background: url(".././images/naranjabg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0 30px 0;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 5px 0 0 #D56F1F;
  -webkit-box-shadow: 0px 5px 0 0 #D56F1F;
  box-shadow: 0px 5px 0 0 #D56F1F;
}

/* line 157, ../scss/app.scss */
.boxshadow, .tabs-content.vertical {
  -moz-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 161, ../scss/app.scss */
.azul {
  background-color: #fff !important;
}

/* line 165, ../scss/app.scss */
.pshadow {
  text-shadow: 0.08em 0.08em rgba(0, 0, 0, 0.15);
}

/* line 170, ../scss/app.scss */
.titulo-amarillo {
  text-align: center;
  margin-bottom: 40px !important;
}
/* line 173, ../scss/app.scss */
.titulo-amarillo h2 {
  color: #DDB307 !important;
}

/* line 177, ../scss/app.scss */
.titulo-azul {
  text-align: center;
  margin-bottom: 40px !important;
}
/* line 180, ../scss/app.scss */
.titulo-azul h2 {
  color: #0089B6 !important;
}

/* line 184, ../scss/app.scss */
.titulo-naranja {
  text-align: center;
  margin-bottom: 40px !important;
}
/* line 187, ../scss/app.scss */
.titulo-naranja h2 {
  color: #D56F1F !important;
}

/* line 191, ../scss/app.scss */
.titulo-rojo {
  text-align: center;
  margin-bottom: 40px !important;
}
/* line 194, ../scss/app.scss */
.titulo-rojo h2 {
  color: #C40E3C !important;
}

/* line 200, ../scss/app.scss */
.orbit-container {
  -moz-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
}
/* line 203, ../scss/app.scss */
.orbit-container img {
  width: 100%;
}

/* line 209, ../scss/app.scss */
.imgcontainer {
  max-height: 474px;
  overflow: hidden;
  width: 100%;
}

/* line 214, ../scss/app.scss */
.caption {
  color: #222222;
  padding: 0 10px;
}

/* line 220, ../scss/app.scss */
.social {
  margin: 5px;
  opacity: 1;
}
/* line 223, ../scss/app.scss */
.social:hover {
  opacity: 0.9;
}

/* line 228, ../scss/app.scss */
.accordion {
  margin-bottom: 30px;
}

/* line 232, ../scss/app.scss */
.tabs dd > a, .tabs .tab-title > a {
  padding: .5rem 1rem;
}

/* line 238, ../scss/app.scss */
.pegado {
  position: fixed;
  width: 100%;
  height: 50px;
  margin-top: 12px;
  z-index: 9999;
}

/* line 246, ../scss/app.scss */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 255, ../scss/app.scss */
.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

/* line 260, ../scss/app.scss */
.menu-opener {
  cursor: pointer;
  height: 64px;
  position: fixed;
  margin-top: 0;
  margin-left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
}

/* line 272, ../scss/app.scss */
.menu-opener:hover, .menu-opener.active {
  background: transparent;
}

/* line 276, ../scss/app.scss */
.menu-opener-inner {
  background: #fff;
  height: .3rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}

/* line 283, ../scss/app.scss */
.menu-opener-inner::before, .menu-opener-inner::after {
  background: #fff;
  content: '';
  display: block;
  height: .3rem;
  width: 2.5rem;
  margin-top: 3px;
}

/* line 292, ../scss/app.scss */
.menu-opener-inner.active::before, .menu-opener-inner.active::after {
  background: rgba(34, 34, 34, 0.9);
}

/* line 296, ../scss/app.scss */
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}

/* line 301, ../scss/app.scss */
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}

/* line 306, ../scss/app.scss */
.menu-opener-inner.active {
  background: transparent;
}

/* line 309, ../scss/app.scss */
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}

/* line 314, ../scss/app.scss */
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

/* line 320, ../scss/app.scss */
.menu {
  background: white;
  -moz-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}

/* line 335, ../scss/app.scss */
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}

/* line 339, ../scss/app.scss */
.menu.active .menu-link {
  color: #222222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 345, ../scss/app.scss */
.menu.active .menu-link:hover {
  background: #EAEAEA;
  transition: ease 500ms;
}

/* line 351, ../scss/app.scss */
.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}
/* line 367, ../scss/app.scss */
.menu-inner a:hover {
  color: transparent;
}

/* line 370, ../scss/app.scss */
.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 200;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: none;
}

/* line 388, ../scss/app.scss */
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 950px) {
  /* line 393, ../scss/app.scss */
  .menu {
    height: auto;
  }

  /* line 396, ../scss/app.scss */
  .menu-inner {
    display: block;
  }

  /* line 399, ../scss/app.scss */
  .menu-link {
    padding: 10px 0;
    font-size: 1em;
    padding-right: 4.2rem;
  }

  /* line 404, ../scss/app.scss */
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}
/* line 412, ../scss/app.scss */
.animated {
  margin: 22% 0 0 -20%;
  width: 60%;
  top: 6%;
  position: absolute;
  transition: ease 2s 1.5s;
}

/* line 420, ../scss/app.scss */
.festivaltexto {
  text-align: left;
  position: absolute;
  left: 180%;
  width: 614px;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 0.08em;
  line-height: 1.3em;
}

/* line 431, ../scss/app.scss */
.fuerte {
  top: 26%;
  font-weight: 500;
}

/* line 436, ../scss/app.scss */
.light {
  top: 36%;
  font-weight: 100;
}

/* line 441, ../scss/app.scss */
.italica {
  top: 56%;
  font-weight: 100;
  font-size: 35px;
  font-style: italic;
}

/* line 448, ../scss/app.scss */
.animatedtext {
  left: 53%;
  transition: ease 1.5s 2.5s;
}

/* line 453, ../scss/app.scss */
.second {
  transition: ease 1.5s 2.7s;
}

/* line 457, ../scss/app.scss */
.third {
  transition: ease 1.5s 2.9s;
}

@media only screen and (min-device-width: 0em) and (max-device-width: 64em) {
  /* line 466, ../scss/app.scss */
  #construccion p {
    font-size: 3em !important;
  }

  /* line 471, ../scss/app.scss */
  .animated {
    width: 62%;
    margin: 5% 0 0 15%;
  }

  /* line 476, ../scss/app.scss */
  .festivaltexto {
    font-size: 30px;
  }

  /* line 480, ../scss/app.scss */
  .fuerte {
    top: 48%;
  }

  /* line 484, ../scss/app.scss */
  .light {
    top: 57%;
  }

  /* line 488, ../scss/app.scss */
  .italica {
    top: 76%;
    font-size: 20px;
  }

  /* line 493, ../scss/app.scss */
  .animatedtext {
    left: 0%;
  }

  /* line 497, ../scss/app.scss */
  .flecha {
    display: none;
  }

  /* line 500, ../scss/app.scss */
  .divazul {
    padding-bottom: 55px;
  }

  /* line 504, ../scss/app.scss */
  .arriba404 {
    font-size: 12rem;
  }

  /* line 508, ../scss/app.scss */
  .pdf {
    margin: 0 auto;
    float: none !important;
  }

  /* line 513, ../scss/app.scss */
  .buttonpdf {
    margin: 0px !important;
    text-align: center;
    float: none !important;
  }
}
/* line 523, ../scss/app.scss */
.flecha {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  opacity: 0.20;
  transition: ease .4s;
}
/* line 530, ../scss/app.scss */
.flecha:hover {
  opacity: 1;
  fill: #fff;
}

/* line 536, ../scss/app.scss */
.normal {
  margin-top: 110px;
}

/* line 540, ../scss/app.scss */
.invertida {
  transform-origin: 50%;
  -webkit-transform: rotate(180deg);
}

/* line 546, ../scss/app.scss */
.slideme {
  text-indent: -11125px;
}

/* line 550, ../scss/app.scss */
.slider {
  text-align: center;
  text-indent: 0px;
  transition: ease 3s;
}

/* line 559, ../scss/app.scss */
.tabs-content.vertical {
  width: 100%;
  margin-left: 0px;
  background: #fff;
  color: #222222;
}

/* line 567, ../scss/app.scss */
#retroscopio {
  min-height: 95%;
}
/* line 571, ../scss/app.scss */
#retroscopio .content p {
  color: #222222;
  padding-top: 15px;
  padding-bottom: 30px;
}

/* line 583, ../scss/app.scss */
#acercadelfestival .tabs-content {
  margin-bottom: 0rem;
}
/* line 588, ../scss/app.scss */
#acercadelfestival .content p {
  color: #222222;
}
/* line 592, ../scss/app.scss */
#acercadelfestival .button {
  margin-bottom: 0px;
}

/* line 599, ../scss/app.scss */
#footer h3 {
  text-align: center;
  padding-bottom: 30px;
}
/* line 602, ../scss/app.scss */
#footer p {
  margin-top: 30px;
  text-align: center;
}
/* line 608, ../scss/app.scss */
#footer ul li {
  text-align: center;
}
/* line 610, ../scss/app.scss */
#footer ul li a {
  color: #fff;
}

/* line 619, ../scss/app.scss */
.bottomfooter {
  background: rgba(0, 0, 0, 0.15);
  padding-top: 35px;
  margin-top: 30px;
  width: 100%;
}

/* line 628, ../scss/app.scss */
#registro .panel a.faqlink {
  color: #D56F1F;
}

/* line 635, ../scss/app.scss */
svg {
  width: 100%;
  height: 100%;
}

/* line 641, ../scss/app.scss */
.sociallogo {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}
/* line 648, ../scss/app.scss */
.sociallogo:hover .sociallogosombra {
  opacity: 0.35;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -webkit-transform-origin-y: 43px;
  -webkit-transform-origin-x: 43px;
  transform-origin-y: 43px;
  transform-origin-x: 43px;
}
/* line 657, ../scss/app.scss */
.sociallogo:hover .sociallogoblanco {
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

/* line 664, ../scss/app.scss */
.sociallogosombra {
  opacity: 0.15;
  transition: ease .5s;
  transform-origin: 50%;
  -webkit-transform-origin: 50%;
}

/* line 670, ../scss/app.scss */
.sociallogoblanco {
  fill: #fff;
  transition: ease .5s;
  transform-origin: 50%;
  -webkit-transform-origin: 50%;
}

/* line 679, ../scss/app.scss */
.pdf {
  width: 45%;
  float: left;
  vertical-align: middle;
}

/* line 684, ../scss/app.scss */
.pdfamarillo {
  fill: #FFCE00;
}

/* line 688, ../scss/app.scss */
.pdfnaranja {
  fill: #F47E24;
}

/* line 692, ../scss/app.scss */
.buttonpdf {
  float: right;
  margin: 21% 0 0 10px;
}

/* line 699, ../scss/app.scss */
#logopruebaslisto {
  width: 500px;
  height: 500px;
}

/* line 707, ../scss/app.scss */
#construccion {
  height: 100%;
}
/* line 710, ../scss/app.scss */
#construccion p {
  text-align: center;
  font-size: 4em;
  margin-bottom: 20%;
  margin-top: 5%;
}
